@font-face {
    font-family: "Nunito", sans-serif;
    src: url("../nunito/Nunito-Regular.ttf");
    src: url("../nunito/Nunito-Regular.ttf") format("ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #fff !important;
}

.navbar {
    padding: 20px 0;
}

.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item.nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
    background-color: #3f451c;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    color: #3f451c;
    padding: 5px 15px;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover {
    text-decoration: none;
    color: #3f451c !important;
}

.banner {
    position: relative;
    background: url('../img/piz1.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 250px 0 200px;
}

.display-5 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: #fff;
    text-transform: uppercase;
}

.banner p {
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #fff;
}

.button {
    display: inline-block;
    background: #3f451c;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}

.button a {
    color: #fff;
    text-decoration: none;
}

.button:hover {
    box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(0px, -10px) scale(1);
            transform: translate(0px, -10px) scale(1);
}

.navbar-light .navbar-toggler {
    border: none;
    color: #3f451c;
    border: 1px solid #3f451c;
    border-radius: 0;
    outline: none;
}


@media (max-width: 768px) {
    .banner {
        padding: 200px 0;
    }

    .display-5 {
        font-size: 1.8em;
    }
}

/* Jumbotron */
.display-4 {
    font-weight: 300;
    color: #3f451c;
    font-size: 3em;
}


/* About Styling */

/* Menu */
.bg {
    position: relative;
    background: url('../img/menu.png');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.right {
    background-color: #ddddd5;
    min-height: 100vh;
}


.menu-headline {
    text-transform: uppercase;
    color: #fff;
    background-color: #3f451c;
    height: 43px;
    font-size: 1.5em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

.content {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.1em;
}


.button1 {
    display: inline-block;
    text-align: center;
    color: #e08d3c;
    font-weight: bold;
    line-height: 1;
    position: relative;
    text-decoration: none;
    font-size: 1.25rem;
    margin-left: 10px;
    margin-top: 20px;
}


.button1:hover {
    color: #e08d3c;
    text-decoration: none;
}

.pizza-content {
    font-size: 1.1em;
    margin-left: 10px;
}


/* View Area */
.view-area {
    height: 250px;
    color: #3f451c;
}

.view-para {
    font-size: 1.6em;
}

/* Footer */
.footer {
    background-color: #3f451c;
    color: #fff;
}


.footer-title {
margin-bottom: 40px;
position: relative;
}


.footer-title:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}


.btn-footer {
    color: #fff;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}


.btn-footer:hover {
    text-decoration: none;
}


footer ul li {
    list-style: none;
    display: block;
}


footer ul  {
    padding-left: 0;
}


footer ul  li a{
    text-decoration: none;
    color: grey;
    text-decoration:none;
}


a:hover {
    text-decoration: none;
    color: #fff !important;
}


.social .fa {
    color: #fff;
    font-size: 22px;
    padding: 10px 15px;
    background: #3f451c;
}


.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 8px;
}


::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}


.form-footer input[type="button"] {
    border: none;
    background:#dddcd5;
    margin-left: -5px;
    color: #3f451c;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 1px 5px;
}

/* Meedia Queris */
@media (max-width: 768px) {
    .btn-left {
        height: 300px;
    }

    .pizza {
        height: 350px;
    }

    .about-pizza {
        text-align: left !important;
    }

    .view-title {
        text-align: left !important;
        font-size: 1em;
    }

    .view-para {
        text-align: left !important;
        font-size: 1.2em;
    }
}

/* =========== PIES STYLE ============= */
.navbar-icon-top .navbar-nav .nav-link .fa {
    position: relative;
    width: 40px;
    font-size: 28px;
}


.navbar-icon-top .navbar-nav .nav-link  .fa  .badge {
    font-size: 0.80rem;
    position: absolute;
    right: 0;
}


.navbar-icon-top .navbar-nav .nav-link .fa {
    top: 3px;
    line-height: 15px;
}


.navbar-icon-top .navbar-nav .nav-link .fa .badge {
    top: -10px;
}

.yellow {
    background: #e08d3c;
    color: #3f451c;
    text-transform: uppercase;
    padding: 20px 30px;
}

.white {
    background: #fff;
    color: #3f451c;
    text-transform: uppercase;
    padding: 20px 30px;
}


.pie-area {
    position: relative;
    min-height: 100vh;
    padding:0 0 0;
    background-color: #ddddd5;
}

.left-column {
    background-color: #fff !important;
    min-height: 100vh;
}

.display-4 {
    margin-left: 2.5em;
    margin-top: 1em;
    font-weight: 500;
}

.piz-list {
    margin-left: 5em;
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 500;
}

.piz-title {
    font-size: 2em;
    margin-top: 1em;
}

.display-7 {
    margin-left: 10px;
    margin-top: 5px;
}

.pieces {
    margin-left: 10px;
    margin-top: 5px;
}

.form-select {
    margin-bottom: 10px;
}

.card-one {
    float: left;
}

.card-two {
    float: left;
    margin-left: 1em;
}

.card-three {
    float: left;
    margin-left: 1em;
}

/* Footer */
.pie-footer {
    height: 200px;
    background-color: #ffffff;
}



